# just remove everything by default, require explicit inclusion
*
.*
!*/

# files
!setup
!.gitignore
!user-dirs.dirs
!user-dirs.locale
!electron-flags.conf

# directories
!nvim/**/*
!tmux/**/*
!hypr/**/*
!rofi/**/*
!kitty/**/*
