* {
    background: transparent;
    border-radius: 0;
    border: none;
    font-family: "JetBrains Mono";
    font-size: 16pt;
    margin: 0;
    min-height: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-family: "JetBrains Mono";
}

#backlight, #battery, #clock, #pulseaudio, #workspaces {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 6px 16px;
    padding: 6px 24px;
}

#pulseaudio.muted {
	opacity: 0.5;
}

#workspaces button {
    background: transparent;
    border-top: 2px solid transparent;
    color: white;
    padding: 0 6px;
}

#workspaces button.active {
    border-top: 2px solid #c9545d;
    color: #c9545d;
}

#battery icon {
    color: red;
}

#battery.warning:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    color: white;
}
