share/**/*
state/**/*

# explicitly allow scripts these scripts to
# protect the integrity of the private ones
!bin/tmux-sessionizer
!bin/cheatsheet

# desktop files so I won't have to reconfigure
# things
!share/applications/spotify-launcher.desktop
!share/applications/discord.desktop
